@import "~nouislider/dist/nouislider.min.css";

.slider-container {
  position: relative;
  padding: 10px;

  &:focus-within {
    outline: 1px solid #004da2;
  }

  span {
    position: absolute;
    z-index: 1;
    bottom: 0px;

    &:last-child {
      right: 0;
    }
  }

  &:hover {
    .noUi-connects {
      background: #1b87ff;

      .noUi-connect {
        background: #004da2;
      }
    }
    .noUi-handle {
      border-color: #004da2;
    }
  }
}

.noUi-target {
  box-shadow: none;
  border: none;
  height: 2px;
  padding: 0 25px;

  .noUi-connects {
    background: #949494;

    .noUi-connect {
      background: #494949;
    }
  }

  .noUi-handle {
    width: 16px;
    height: 16px;
    border: 1px solid #494949;
    border-radius: 50%;

    &::before,
    &::after {
      content: none;
    }
  }
}

[disabled].noUi-target {
  .noUi-connects {
    background: #d9d9d9;

    .noUi-connect {
      background: #bfbfbf;
    }
  }

  .noUi-handle {
    border-color: #d9d9d9;
  }
}
