.wrapper-progress-tracker {
  width: 100%;
}

.progress-tracker {
  display: flex;
  padding-inline-start: 0;

  li {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .title {
      display: flex;
      justify-content: center;
      color: #6a6e7c;
    }

    .description {
      display: flex;
      justify-content: center;
      color: #6a6e7c;
    }

    .step::before {
      content: " ";
      line-height: 30px;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      border: 2px solid #d9d9d9;
      display: block;
      text-align: center;
      margin: 10px auto 10px;
      background-color: white;
    }

    .step::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #d9d9d9;
      top: 44px;
      left: -50%;
      z-index: -1;
    }

    .no-separator::after {
      content: none;
    }

    &.done {
      .step::before {
        border: 3px solid #4ea1ff;
        width: 17px;
        height: 17px;
        margin: 13px auto 13px;
      }

      .step:hover::before {
        border-color: #095bcc;
      }

      .step::after {
        background-color: #4ea1ff;
      }
    }

    &.active {
      .step::before {
        border: 4px solid #004da2;
      }

      .step:hover::before {
        border-color: #003e81;
      }

      .step::after {
        background-color: #4ea1ff;
      }

      .description {
        color: #202124;
      }

      .title {
        color: #004da2;
      }
    }
  }

  &-light {
    li {
      flex-direction: column-reverse;

      .step::before {
        width: 16px;
        height: 16px;
        display: block;
        text-align: center;
        margin: 10px auto 10px;
        background-color: #d9d9d9;
      }

      .step::after {
        height: 16px;
        background-color: #f2f2f2;
        top: 10px;
        left: -50%;
      }

      &.done {
        .step::before {
          background-color: #80bcff;
          width: 16px;
          height: 16px;
          border: none;
          margin: 10px auto 10px;
        }

        .step:hover::before {
          background-color: #095bcc;
        }

        .step::after {
          background-color: #b3d6ff;
        }
      }

      &.active {
        .step::before {
          background-color: #095bcc;
          border: none;
        }

        .step:hover::before {
          background-color: #003e81;
        }

        .step::after {
          background-color: #b3d6ff;
        }
      }
    }
  }
}
