<div class="wrapper-progress-tracker">
  <ul class="progress-tracker" [class.progress-tracker-light]="variant == 'LIGHT'">
    <li *ngFor="let step of progressSteps; let i = index" 
      [class.done]="step.state == progressTrackerStateEnum.DONE"
      [class.active]="step.state == progressTrackerStateEnum.ACTIVE">
      <span class="title">{{ step.title | titlecase }}</span>
      <span class="step" [class.no-separator]="i == 0"></span>
      <span class="description" *ngIf="step.description && variant == 'REGULAR'">{{ step.description }}</span>
    </li>
  </ul>
</div>